@(worlds: java.util.List[neo4j.models.World], path: java.util.List[neo4j.models.World])

@main(title = "PlayFramework SpringData Neo4j Template by @tomasmuller") {

	<div class="container">
		<div class="content">
			<div class="page-header">
				<h2>PlayFramework and Spring Data Neo4j</h2>
			</div>
			<div class="row">
				<div>
					<fieldset>
						<legend>Here are some objects/relations we just created</legend>
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th>Reachable by rocket</th>
								</tr>
							</thead>
							<tbody>
								@for(world <- worlds) {
								<tr>
									<td>@world.id</td>
									<td>@world.name</td>
									<td>@world.moons</td>
									<td>@for(otherWorld <- world.reachableByRocket) {
										@otherWorld.name }</td>
								</tr>
								}
							</tbody>
						</table>
						<legend>And the path from @worlds(0).name to @worlds(worlds.size -1).name</legend>
						<ul class="breadcrumb">
							@for(pathWorld <- path) {
								<li><a href="#">@pathWorld.name</a> <span class="divider">/</span></li>
							}
						</ul>
					</fieldset>
				</div>
			</div>
		</div>
	</div>

}
